@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    width: 100%
}
 


.flexchild {
    width: 68vw;
    margin-left: 30vw;
}
    

.sideBar-container {
    position: relative;
    width: 30vw;
  }


img {
    position: absolute;
   width: 30vw;
  
   z-index: -1;
}

.sideBar-heading {
    background: black;
  opacity: 0.6;
  color: white;
    position: absolute;
    font-size: 3rem;
    padding: 1rem;
}

.header {
   text-align: center;
    
}

form {
   
    
}
input, label {
   display: block;
}

fieldset {
display: flex;
   height: 10vh;
   justify-content: center;
   gap: 10vw
}

.input {
   
    
}